@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
    overflow-x:hidden;
}

.logo {
    width: 75px;
    height: 40px;
    position: relative;
    top: 8px;
    left: 4px;
}

.logo img {
    position: relative;
    top: 15px;
    height: 50px;
}

.menu {
    width: 70%;
    justify-content: flex-start;

}

.flex {
    display: flex;
}

.menu > ul > li{
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.menu > ul > li:hover {
    text-decoration: underline;
}

.menu ul {
    color: white;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;

}

.navbar {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: transparent;
    justify-content: space-around;
    z-index: 20;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.banner1{
    background-image: url(images/bg1.jpg);
    background-size: cover;
}

.banner2{
    background-image: url(images/banner2r.jpg);
    background-size: cover;
}

.banner3{
    background-image: url(images/banner3.jpg);
    background-size: cover;
}

.banner4{
    background-image: url(images/banner4.jpg);
    background-size: cover;
}

.banner5{
    background-image: url(images/banner5.jpg);
    background-size: cover;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100px;
}

footer a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.link {
    color: white;
    flex-direction: column;
    position: absolute;
    bottom: 15%;
    left: 150px;
}


.link p {
    margin: 0px;
    font-size: large;
}

.link h1 {
    margin: 0px;
}

.link button{
    background-color: transparent;
    border: 2px solid white;
    text-align: center;
    width: 220px;
    height: 40px;
}

.link button a{
    color: white;
    text-decoration: none;
}
